*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkcyan;
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.avocado{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    
    width: 360px;
    height: 450px;

    border: 14px solid RGB(23, 48, 8);
    border-radius: 50% 50% 50% 50% / 63% 63% 37% 37% ;

    background-color: #779D5E;
}
.flesh{
    width: 292px;
    height: 382px;

    position: relative;    

    border-radius: 50% 50% 50% 50% / 63% 63% 37% 37% ;

    background-color: #C7CD6D;

}
.nut{
    width: 150px;
    height: 150px;

    position: absolute;
    bottom: 80px;

    border-radius: 50%;
    background-color: #78381C;
    box-shadow: 8px 8px #A3A64A;
}
.highlight{
    width: 138px;
    height: 140px;

    border-radius: 50%;
    background-color: #8D4321;

    

}


.eye{
    height: 30px;
    width: 30px;
    
    border-radius: 50%;
    background-color: #462D38;

    position: absolute;
    top: 60px;
    left: 80px;

}
.eye-l{
    height: 30px;
    width: 30px;
    
    border-radius: 50%;
    background-color: #462D38;

    position: absolute;
    top: 100px;
    left: 60px;

}
.eye-r{
    height: 30px;
    width: 30px;
    
    border-radius: 50%;
    background-color: #462D38;

    position: absolute;
    top: 100px;
    left: 200px;

}
.freckle2{
    height: 15px;
    width: 20px;
    
    border-radius: 50%;
    background-color: #DB6203;

    position: absolute;
    top: 140px;
    left: 40px;

}
.freckle1{
    height: 15px;
    width: 20px;
    
    border-radius: 50%;
    background-color: #DB6203;

    position: absolute;
    top: 140px;
    left: 230px;

}
.mouth{
    height: 20px;
    width: 50px;
    border: 5px solid #482C36 ;
    position: absolute;
    bottom: 220px;
    left: 120px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 70%
}